[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

fabric = "*"
fabtools = "*"
neovim = "*"
ipython = "*"
gitric = "*"


[dev-packages]



[requires]

python_version = "2.7"
